
body {
    width:100%;
}
header {
    height:60px;
    width:100%;
    margin-top:3px;
}

.logo_img {
    margin:5px 5px;
}

.nav-pills {
    margin-top:5px;
}

button {
    margin-top:9px;
    height:40px;
    width:200px;
    background:orange;
}

.jumbotron_img {
    margin-top:-47px;
    margin-left:-15px;
    margin-bottom:-50px;
    height:500px;
    width:100%;
}



/** Section*/

.section_images {
    height:200px;
    font-display:center;
    margin-top:50px;
    /* margin-left:50px; */
}

.section_images_1 {
    margin-left:20%;
}

.section_images_3 {
    margin-right:300px;
}

.section_h1 {
    margin-left:-40px;
    text-align:center;
}


.section_p {
    text-align:center;
    margin-left:30px;
    margin-right:80px;
}

/** Section_2*/

.section_2 {
    height:300px;
    background:lightgray;
}

.section_2_images {
    height:300px;
    width:100%;
}

/** Section 3*/

.section_3 {
    margin-top:50px;
}
.section_3_images {
    height:200px;
    width:400px;
}

.section_3_images_1 {
    margin-left:20%;
}

.section_3_images_2 {
    /* margin-left:47%; */
}

.section_3_images_3 {
    margin-left:20%;
}

.section_3_p {
    text-align:center;
    margin-top:40px;
    padding-left:100px;
}

.section_p_2 {
    margin-left:20%;
}



footer {
    background:lightgray;
    height:100px;
}

.footer_phone {
    padding-top:18px;
    padding-left:200px;
}

.footer_email {
    padding-top:35px;
    padding-left:150px;
}

.email_button {
    padding-top:18px;
    padding-right:50px;
}